# Ignore configuration files that may contain sensitive information
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
salt.txt
*.sql
*.sql.gz
# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore drupal core
/web/core
/vendor
/web/modules/README.txt
/web/modules/contrib
/web/libraries
/web/profiles/README.txt
/web/themes/README.txt
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/default/example.settings.local.php
/web/sites/default/development.services.yml
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/.idea

# Misc system files
node_modules
public
.env
.env.local
.env.local.php
.idea
.DS_Store
.vscode

# Ignore dist folder of custom theme
/web/themes/custom/ue_theme/dist

local.settings.php
local.drush.yml
local.site.yml
local.services.yml
*.local
local.blt.yml
deployment_identifier
/travis_wait*
/files-private
.phpcs-cache
phpunit.xml
